Checks: "-*,
        abseil-*,
        google-*,
        llvm-*,
        bugprone-*,
        cert-*,
        cppcoreguidelines-*,
        modernize-*,
        portability-*,
        readability-*,
        -llvm-header-guard,
        -modernize-use-trailing-return-type,
        -readability-magic-numbers,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-pro-type-union-access,
        -cppcoreguidelines-pro-type-vararg,
        -google-readability-todo,
        -readability-implicit-bool-conversion,
        -llvm-include-order,
        -readability-isolate-declaration,
        -readability-redundant-member-init,
        -readability-identifier-length"
        
CheckOptions:
  - key: modernize-use-override.IgnoreDestructors
    value: true

WarningsAsErrors: ''
HeaderFilterRegex: ''
