Checks: "-*,
        abseil-*,
        google-*,
        llvm-*,
        bugprone-*,
        cert-*,
        cppcoreguidelines-*,
        modernize-*,
        portability-*,
        readability-*,
        -llvm-header-guard,
        -modernize-use-trailing-return-type,
        -readability-magic-numbers,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-pro-type-union-access,
        -cppcoreguidelines-pro-type-vararg,
        -google-readability-todo,
        -readability-implicit-bool-conversion,
        -llvm-include-order,
        -readability-isolate-declaration,
        -readability-redundant-member-init"

WarningsAsErrors: ''
HeaderFilterRegex: ''

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z|os|x|y|z|up|a|b|c|s|t|v|m|n|io'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z|os|x|y|z|up|a|b|c|s|t|v|m|n'
  - key: readability-identifier-length.MinimumLoopCounterNameLength 
    value: 0
